.main {
  height: 100%;
  display: block;
}

.split {
  /* flex: 1; */
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
}
.split h2 {
  margin: 4rem 0 3rem 5rem;
}

.cardLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
