.main {
    height: 100%;
    display: flex;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}

.split {
    margin: 10px 0 0 10px;
    position: center;
}

.cardLayout {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    flex: 1 1 160px;
}
