.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: #dcdeeca9;
  border-radius: 10px;
  padding: 3vw;
  width: 40%;
  margin: 1.5vw;
  justify-content: center;
  /* height: 80%; */

  /* z-index: -1; */
}
.form > *,
.formEnsamble > * {
  padding: 2vw;
}
.form input,
.formEnsamble input {
  height: 1vw;
  width: 18vw;
  margin-left: 3vw;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form input[type="submit"],
.formEnsamble input[type="submit"] {
  height: 3vw;
  padding: 0.8vw;
  align-self: center;
  cursor: pointer;
  padding: 1vw;
  cursor: pointer;
  background-color: #353a5d;
  color: white;
  border-radius: 10px;
}
.form label,
.formEnsamble label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.form {
  font-size: 1em;
}
.flex {
  display: flex;
  column-gap: 1vw;
}
#instrument {
  z-index: -1;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.profileForm .insideForm {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  border-radius: 10px;
  padding: 3vw;
  width: 40%;
  margin: 1.5vw;
}
.profileForm {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #dcdeeca9;
  border-radius: 10px;
  padding: 3vw;
  width: 40%;
  margin: 1.5vw;
  justify-content: center;
}
.profileForm input {
  padding: 1rem;
  width: 80%;
}
.profileForm input[type="submit"] {
  background-color: #3d415e;
  color: white;
  border-radius: 10px;
}
.formEnsamble {
  height: 70vh;
  /* width: 80vw; */
  display: flex;
  flex-direction: column;
  background-color: #dcdeeca9;
  border-radius: 10px;
  padding: 3vw;
  width: 100%;
  margin: 1.5vw;
  justify-content: center;
}
