.form {
  display: flex;
  flex-direction: column;
}
.form > * {
  padding: 2vw;
}
.form input {
  height: 120%;
  margin-left: 3vw;
}
.form input[type="submit"] {
  padding: 0.8vw;
  align-self: center;
  cursor: pointer;
}
.form {
  font-size: 1em;
}
.flex {
  display: flex;
  column-gap: 1vw;
}
