.card {
  width: 200px;
  min-height: 100px;
  background-color: #1a1b21;
  border-radius: 10px;
  color: white;
  margin: 25px;
  padding: 15px;
}

.name {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 800;
}

.jobTitle {
  color: #f3bf99;
  font-size: 14px;
  font-weight: 500;
}

.website {
  color: #dbd9d9;
  font-size: 14px;
  font-weight: 500;
}
