body {
    margin: 0;
    padding: 0;
  }

.App {
    font-family: sans-serif;
    min-height: 100vh;
  }
  
  footer {
    background-color: #bf1e2e;
    color: #ffff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 16px 0px;
    text-align: center;
  }