body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
}

footer {
  background-color: #bf1e2e;
  color: #ffff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 16px 0px;

  display: flex;
  flex-direction: column;
}

.myContainer {
  display: flex;
  flex-direction: column;
}
.mailContainer {
  width: 100%;
  height: 8vw;
  background: #353a5d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mailContainer img {
  width: 6vw;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer div div img {
  width: 2vw;
  height: 2vw;
}

footer div img {
  width: 15vw;
  height: 5vw;
}
