.btn {
  width: 200px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid#353a5d;
  color: #353a5d;
  border-radius: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
}
.btn:hover {
  background-color: #353a5d;
  color: white;
  transition: 0.5s;
}
